@import url(reset.css);


/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	scroll-behavior: smooth;
}

.wrapper {
	width: 1116px;
	height: 752px;
	margin: 0 auto;
	background-image: url(../img/map.jpg);
	display: flex;
	flex-wrap: wrap;

}
.continent {
    {
	display: flex;
	width: 370px;
	height: 376px;
	flex-wrap: wrap;
    }
    name {
        display: flex;
        margin: 30px;
        flex-wrap: wrap;
        width: 324px;
        height: 262px;
        background-color: rgba(0, 0, 0, 0.233);
    }
    text {
        font-size: 38px;
        color: #ffffff;
        font-weight: bold;
        font-family: "Myriad Pro";
        margin: auto;
    }
    country {
        width: 320px;
        display: flex;
            $__img {
                width: 100px;
                height: 60px;
                text-align: left;
            }
        $__text {
            font-size: 30px;
            color: #ffffff;
            font-weight: bold;
            font-family: "Myriad Pro";
            text-align: center;
            margin: 15px 20px;
        }
    }
   town__info {
        font-size: 26px;
        color: #ffffff;
        font-family: "Myriad Pro";
        text-align: center;
        margin: 0 20px;
    }
    town__box {
        margin: 10px 10px;
        display: flex;
        align-items: center;
    }
    town__box__gerb {
        width: 57px;
        height: 38px;
        margin: 0 10px;
    }
    town__box__info {
        font-size: 21px;
        color: #ffffff;
        font-family: "Myriad Pro";
        text-align: center;
    }

}

.euro{
	background: #10466db0;
}
.nord_america{
	background: #94153bb0;
}
.south_america{
	background: #e21d1db0;
}
.africa{
	background: #c0cc1db0;
}
.australia{
	background: #e0851db0;
}
.antarctica{
	background: #94153bb0;
}









